.sr { visibility: hidden; position: absolute; width: 0; height: 0; font-size: 0; }
html { font-size: 62.5%; }
html,
body { padding: 0; margin: 0; }
body { font-family: Montserrat, Helvetica, Arial, sans-serif; font-size: 1.6em; color: #747474; background: #faedff; }
* { box-sizing: border-box; }
a { font-weight: bold; color: #6e48aa; text-decoration: none; }
img { max-width: 100%; height: auto; }
.tweetcontent { margin-top: 10px; }
.tweetcontent img { margin: 20px 0; }
.tweetcontent a { font-weight: normal; color: #747474; display: block; }
.tweetcard { font-size: 14px; font-size: 1.4rem; line-height: 1.71428571; background: #fff; box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16); border-radius: 3px; padding: 26px 26px 26px 22px; }
.tweetcard > * { margin-left: 65px; }
.tweetcard > .tweetavatar { float: left; margin-left: 0; }
.tweetavatar { width: 45px; }
.tweetavatar img { border-radius: 50%; }
.tweetinfo { font-weight: 500; }
.tweetactions { padding: 0; margin-top: 0; margin-bottom: 0; list-style: none; display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: flex-start; align-items: center; }
.tweetactions li + li { margin-left: 14px; }
.tweetactions a {color:#fff; font-size:0}
.tweetactions a::before { content: ""; display: block; width: 30px; height: 30px; background: url(icon-heart.svg) center no-repeat; }
.tweetactions a[href*="reply"]::before { background-image: url(icon-comment.svg); }
.tweetactions a[href*="retweet"]::before { background-image: url(icon-retweet.svg); }
.tweetactions a[href*="like"]::before { background-image: url(icon-heart.svg); }
.tweetactions a[href*="mail"]::before { background-image: url(icon-mail.svg); }
.linkbutton { font-size: 14px; font-size: 1.4rem; line-height: 2.85714286; display: inline-block; padding: 0 20px; background: linear-gradient(180deg, #9d50bb, #6e48aa); color: #fff; border-radius: 3px; }
.linkbutton.twitter::before { content: ""; display: inline-block; width: 20px; height: 20px; background: url(logo_twitter.svg) center no-repeat; margin-right: 16px; vertical-align: middle; }
.topbar {
    padding: 20px 0 25px;
    width: 100%;
    display: grid;
    grid-template-columns: 150px auto;
    align-items: center;
}
.menu-container {
    display: flex;
    justify-content: flex-end;
}

.menu-item{ color: white;}
.menu-item:hover{text-decoration: underline;}
.no-style {list-style: none;
}

.no-margin {
    margin-block-start: 0;
    margin-block-end: 0;
    margin:0;
}

.tweetgrid-panel { -webkit-column-width: 366px; column-width: 366px; -webkit-column-gap: 30px; column-gap: 30px;}
.tweetgrid-panel .tweetcard { -webkit-column-break-inside: avoid; break-inside: avoid-column; }
.tweetgrid-panel .tweetcard + .tweetcard { margin-top: 30px; }
.tweets > header h2 { margin: 0 0 0.5em; }
.tweets > header h2 em { color: #6e48aa; font-style: normal; }
.tweets > header .counter { font-weight: 600; font-size: 18px; font-size: 1.8rem; }
.tweets > header .counter data { color: #6e48aa; font-weight: bold; }
.tweets .pagination { padding: 60px 20px; text-align: center; }

@media only screen and (max-width: 568px) {
    .tweets > header { margin: 50px 0 40px; }
}

@media only screen and (min-width: 569px) {
    .tweets > header { margin: 60px 0 30px; display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-between; align-items: baseline; }
}

@supports (display: grid) {
    .tweetgrid-panel { display: grid; grid-template-columns: repeat(auto-fill, minmax(350px, 1fr)); grid-gap: 30px; grid-auto-flow: dense;}
    .tweetgrid-panel .tweetcard + .tweetcard { margin: 0; }
    .tweetgrid-panel .tweetcard { grid-row: span 3; }
    .tweetgrid-panel .tweetcard.tall { grid-row: span 7; }
}
.footer-panel { font-size: 13px; font-size: 1.3rem; font-weight: 500; height: 180px; background: #6e48aa; color: #fff; }
.hero-panel .screen { min-height: 400px; opacity: 1; }
.hero-panel .description { box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16); border-radius: 3px; background-color: #fff; padding: 30px 30px 51px; text-align: center; }
.hero-panel .description h2 { font-size: 40px; font-size: 4rem; margin: 0; color: #9d50bb; }
.hero-panel .friends {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    border-radius: 3px;
    background-color: #fff;
    padding: 30px 30px 10px 30px;
    text-align: center;
    margin: 30px 0;
}

.friends p{display: inline-flex;align-items: center;}

.hero-panel .friends h2 {
    font-size: 40px;
    font-size: 4rem;
    margin: 0;
    color: #9d50bb;
}
body[data-layout] { background: linear-gradient(180deg, #9d50bb, #6e48aa) center top no-repeat, #faedff; background-size: 100% 670px, auto; }
body[data-layout] main { max-width: 1160px; margin-right: 20px; margin-left: 20px; }
body[data-layout] .footer-panel { padding: 36px 20px; }
body[data-layout] .footer-panel .content { max-width: 1160px; margin-right: auto; margin-left: auto; }

@media screen and (min-width: 1200px) {
    body[data-layout] main { margin-right: auto; margin-left: auto; }
}

footer a {color: white;}
footer a:hover{text-decoration: underline;}

.load-more-container{
    margin-top: 30px;
    text-align: center;
}

.load-more{
    display: inline-block;
}

.load-more.loading{
    padding: 20px;
}

.spinner {
    display: none;
    border: 3px solid rgba(255, 255, 255, 0.4);
    border-top-color: #fff;
    border-radius: 50%;
    width: 2em;
    height: 2em;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
