<?xml version="1.0" encoding="utf-8"?>
<Media Key="f6442947-06ad-48f0-9992-d6e485526686" Alias="2025-spark.png" Level="2">
  <Info>
    <Parent Key="0d03f4fe-bc8e-4487-9d08-f64a91b2ffa2">Sponsors</Parent>
    <Path>/Sponsors/sparkpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-05-08T15:53:30</CreateDate>
    <NodeName Default="2025-spark.png" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/zdrbeqge/2025-spark.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>