<?xml version="1.0" encoding="utf-8"?>
<Media Key="40732dbe-8ae2-4649-a53d-db578686b599" Alias="owaincodeslogoWebsiteVersion.png" Level="2">
  <Info>
    <Parent Key="0d03f4fe-bc8e-4487-9d08-f64a91b2ffa2">Sponsors</Parent>
    <Path>/Sponsors/owaincodeslogoWebsiteVersionpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-05-08T13:09:19</CreateDate>
    <NodeName Default="owaincodeslogoWebsiteVersion.png" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/ghtdl3ul/owaincodeslogowebsiteversion.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>