<?xml version="1.0" encoding="utf-8"?>
<Media Key="0d03f4fe-bc8e-4487-9d08-f64a91b2ffa2" Alias="Sponsors" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Sponsors</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2026-05-08T13:08:57</CreateDate>
    <NodeName Default="Sponsors" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>