<?xml version="1.0" encoding="utf-8"?>
<Media Key="a758ed02-fe98-47ef-9409-1428bd04e1f7" Alias="umbhost-logo-no-slogon.svg" Level="2">
  <Info>
    <Parent Key="0d03f4fe-bc8e-4487-9d08-f64a91b2ffa2">Sponsors</Parent>
    <Path>/Sponsors/umbhostLogoNoSlogonsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2026-05-08T15:52:38</CreateDate>
    <NodeName Default="umbhost-logo-no-slogon.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/4bipurmd/umbhost-logo-no-slogon.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>