// Breakpoints
$tiny: 420px;
$small: 568px;
$medium: 768px;
$large: 980px;
$huge: 1200px;
$mega: 1400px;

$base-font-size: 16;

// Colours
$white: #FFFFFF;
$black: #000000;
$purple: #6E48AA;
$purple2: #9D50BB;
$grey: #747474;
