<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2a187a16-afa4-4222-ab77-6aa57ce2dde2" Alias="Home - Sponsors - Block List" Level="1">
  <Info>
    <Name>Home - Sponsors - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "1c2707cf-a187-431f-be25-466568229f8c",
      "label": "{umbValue: sponsorTitle}",
      "backgroundColor": "#e8d9d9",
      "iconColor": "#e30000"
    }
  ]
}]]></Config>
</DataType>