

%svg-common {
	background: url(../images/sprite/sprite.svg) no-repeat;
	
	.no-svg & {
		background-image: url(../images/sprite/sprite.png);
	}
}

.sprite-icon-comment {
	@extend %svg-common;
	//background-position: -21.737px -23.198px;
	background-position: -21.737px -23.198px;
	content : 0;
	

}

.sprite-icon-comment-dims {
	width: 27.357px;
	height: 22.443px;
}

.sprite-icon-hand {
	@extend %svg-common;
	//background-position: 0 -23.198px;
	background-position: 0px -23.198px;
	content : 0;
	

}

.sprite-icon-hand-dims {
	width: 21.737px;
	height: 34.047px;
}

.sprite-icon-heart {
	@extend %svg-common;
	//background-position: -91.316px 0;
	background-position: -91.316px 0px;
	content : 0;
	

}

.sprite-icon-heart-dims {
	width: 23.595px;
	height: 20.629px;
}

.sprite-icon-mail {
	@extend %svg-common;
	//background-position: 0 -57.245px;
	background-position: 0px -57.245px;
	content : 0;
	

}

.sprite-icon-mail-dims {
	width: 25.429px;
	height: 17.15px;
}

.sprite-icon-retweet {
	@extend %svg-common;
	//background-position: -49.093999999999994px -23.198px;
	background-position: -49.093999999999994px -23.198px;
	content : 0;
	

}

.sprite-icon-retweet-dims {
	width: 25.724px;
	height: 17.15px;
}

.sprite-icon-twitter {
	@extend %svg-common;
	//background-position: -91.316px -20.629px;
	background-position: -91.316px -20.629px;
	content : 0;
	

}

.sprite-icon-twitter-dims {
	width: 19.878px;
	height: 16.155px;
}

.sprite-logo {
	@extend %svg-common;
	//background-position: 0 0;
	background-position: 0px 0px;
	content : 0;
	

}

.sprite-logo-dims {
	width: 91.316px;
	height: 23.198px;
}


