html {
    scroll-behavior: smooth;
    height: 100%;
}

body {
  background: var(--bg-body);
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

main {
  flex: 1 0 auto;
}

footer {
  flex-shrink: 0;
}


