body {
    font-family: var(--font-family-base);
}

html {
    font-size: var(--text-base);
    font-weight: var(--font-weight-normal);
    line-height: var(--line-height-base);
}

h1, h2, h3, h4, h5, h6, p, ul, ol {
  margin-block-start: 0;
  margin-block-end: 1rem;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--clr-brand-accent);
    font-weight: var(--font-weight-extrabold);
}

h1, .h1 {
    font-size: var(--text-3xl);
    line-height: var(--line-height-none);
    margin-block-end: 1.5rem;
}

h2, .h2 {
    font-size: var(--text-2xl);
    margin-block-end: 1.5rem;
}

h3, .h3 {
    font-size: var(--text-xl);
}

h4, .h4 {
    font-size: var(--text-xl);
}
