<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="dd6fc040-4fb2-453b-a55d-6dd44f3fd12a" Alias="home" Level="1">
  <Info>
    <Name>Home</Name>
    <Icon>icon-home color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="6b4d8029-aad7-4fc9-95aa-e98795893b12">metaData</Composition>
      <Composition Key="7168cd96-4890-4863-a3d8-9eebf3809e9d">pageInformation</Composition>
    </Compositions>
    <DefaultTemplate>Home</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="019dfeb7-2082-7c29-901f-9857cf0204d4">Home</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="2e0b6f88-6a54-4403-bf51-3ef73050af25" SortOrder="0">page</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>17778a1f-f3db-4e34-8ae9-f5bfeb0785a2</Key>
      <Name>Sponsors</Name>
      <Alias>sponsors</Alias>
      <Definition>2a187a16-afa4-4222-ab77-6aa57ce2dde2</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="sponsors">Sponsors</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>1d2e7ac2-e4f8-4d30-903c-fe6e96a4afb1</Key>
      <Caption>Sponsors</Caption>
      <Alias>sponsors</Alias>
      <Type>Tab</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>