<?xml version="1.0" encoding="utf-8"?>
<Content Key="b08300e5-70db-427d-a305-8d8e99227028" Alias="Community Engagement" Level="2">
  <Info>
    <Parent Key="5b693efb-2e9f-423d-a980-02710af2d30e">Home</Parent>
    <Path>/Home/CommunityEngagement</Path>
    <Trashed>false</Trashed>
    <ContentType>page</ContentType>
    <CreateDate>2026-05-15T04:03:02</CreateDate>
    <NodeName Default="Community Engagement" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="bbb1c552-fcd1-40fc-9076-6f1ddd1d9639">engagement</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[]]></Value>
    </bodyText>
    <descriptions>
      <Value><![CDATA[]]></Value>
    </descriptions>
    <pageTitle>
      <Value><![CDATA[Community Engagement]]></Value>
    </pageTitle>
    <script>
      <Value><![CDATA[]]></Value>
    </script>
    <sponsors>
      <Value><![CDATA[]]></Value>
    </sponsors>
    <titles>
      <Value><![CDATA[Community Engagement]]></Value>
    </titles>
  </Properties>
</Content>