<?xml version="1.0" encoding="utf-8"?>
<Content Key="447ef0a7-4b40-401c-b1f5-edd0ae248e34" Alias="Contribute" Level="2">
  <Info>
    <Parent Key="5b693efb-2e9f-423d-a980-02710af2d30e">Home</Parent>
    <Path>/Home/Contribute</Path>
    <Trashed>false</Trashed>
    <ContentType>page</ContentType>
    <CreateDate>2026-05-07T21:20:58</CreateDate>
    <NodeName Default="Contribute" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="019e044f-1544-73cd-a069-5b25cc613042">Page</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EIf you\u0027d like to help an improve this website, you can! It\u0027s open source and all you need is hosted on our \u003Ca data-router-slot=\u0022disabled\u0022 href=\u0022https://github.com/H5YR/High5YouRock\u0022 type=\u0022external\u0022\u003Egithub repo\u003C/a\u003E\u003C/p\u003E"
}]]></Value>
    </bodyText>
    <pageTitle>
      <Value><![CDATA[Contribute]]></Value>
    </pageTitle>
    <script>
      <Value><![CDATA[]]></Value>
    </script>
  </Properties>
</Content>