<?xml version="1.0" encoding="utf-8"?>
<Content Key="5b693efb-2e9f-423d-a980-02710af2d30e" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2026-05-06T19:15:26</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="019dfeb7-2082-7c29-901f-9857cf0204d4">Home</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[]]></Value>
    </bodyText>
    <descriptions>
      <Value><![CDATA[]]></Value>
    </descriptions>
    <pageTitle>
      <Value><![CDATA[H5YR]]></Value>
    </pageTitle>
    <sponsors>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "1c2707cf-a187-431f-be25-466568229f8c",
      "key": "48ca3877-94d1-4fca-ad20-c40d80024f96",
      "values": [
        {
          "alias": "sponsorUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://owain.codes"
        },
        {
          "alias": "sponsorAltText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Owain.Codes Logo"
        },
        {
          "alias": "sponsorImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "ff5caf80-77ff-4670-9f5c-46cde570a610",
              "mediaKey": "40732dbe-8ae2-4649-a53d-db578686b599",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "sponsorTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Owain Codes"
        }
      ]
    },
    {
      "contentTypeKey": "1c2707cf-a187-431f-be25-466568229f8c",
      "key": "c0418f69-d9ab-4209-9099-a67de192a39b",
      "values": [
        {
          "alias": "sponsorImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "849ae418-856d-4364-8c1e-651ec3da1986",
              "mediaKey": "f6442947-06ad-48f0-9992-d6e485526686",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "sponsorTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "UmbHost"
        },
        {
          "alias": "sponsorUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://umbhost.net"
        },
        {
          "alias": "sponsorAltText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "UmbHost Logo"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "48ca3877-94d1-4fca-ad20-c40d80024f96",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "c0418f69-d9ab-4209-9099-a67de192a39b",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "48ca3877-94d1-4fca-ad20-c40d80024f96",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "c0418f69-d9ab-4209-9099-a67de192a39b",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sponsors>
    <titles>
      <Value><![CDATA[]]></Value>
    </titles>
  </Properties>
</Content>