<?xml version="1.0" encoding="utf-8"?>
<Content Key="5b693efb-2e9f-423d-a980-02710af2d30e" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2026-05-06T19:15:26</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="019dfeb7-2082-7c29-901f-9857cf0204d4">Home</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[]]></Value>
    </bodyText>
    <pageTitle>
      <Value><![CDATA[H5YR]]></Value>
    </pageTitle>
  </Properties>
</Content>