<?xml version="1.0" encoding="utf-8"?>
<Content Key="b1a77b75-dbd7-45ec-ba70-0bd35fa1951d" Alias="Shop" Level="2">
  <Info>
    <Parent Key="5b693efb-2e9f-423d-a980-02710af2d30e">Home</Parent>
    <Path>/Home/Shop</Path>
    <Trashed>false</Trashed>
    <ContentType>page</ContentType>
    <CreateDate>2026-05-07T21:21:25</CreateDate>
    <NodeName Default="Shop" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="019e044f-1544-73cd-a069-5b25cc613042">Page</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EAre you looking to buy some H5YR swag? Well you\u0027ve come to the right place.\u0026nbsp;\u003C/p\u003E\u003Cp\u003EPop over to the Umbraco Community store to see what is available.\u003C/p\u003E\u003Cp\u003E\u003Ca data-router-slot=\u0022disabled\u0022 href=\u0022https://umbracocommunity.store/collection/high-5-you-rock/\u0022 type=\u0022external\u0022\u003EVisit the Community Store\u003C/a\u003E\u003C/p\u003E"
}]]></Value>
    </bodyText>
    <descriptions>
      <Value><![CDATA[]]></Value>
    </descriptions>
    <pageTitle>
      <Value><![CDATA[Shop]]></Value>
    </pageTitle>
    <script>
      <Value><![CDATA[]]></Value>
    </script>
    <sponsors>
      <Value><![CDATA[]]></Value>
    </sponsors>
    <titles>
      <Value><![CDATA[]]></Value>
    </titles>
  </Properties>
</Content>