<?xml version="1.0" encoding="utf-8"?>
<Content Key="b08300e5-70db-427d-a305-8d8e99227028" Alias="Stats" Level="2">
  <Info>
    <Parent Key="5b693efb-2e9f-423d-a980-02710af2d30e">Home</Parent>
    <Path>/Home/Stats</Path>
    <Trashed>false</Trashed>
    <ContentType>page</ContentType>
    <CreateDate>2026-05-15T04:03:02</CreateDate>
    <NodeName Default="Stats" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="bbb1c552-fcd1-40fc-9076-6f1ddd1d9639">engagement</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EBelow you can see some stats about when people gave out a High Five and who are handing them out.\u0026nbsp;\u003C/p\u003E\u003Cp\u003EOver time, we hope to be able to offer more stats - if there is anything you\u0027d like added, feel free to get in touch via the \u003Ca data-router-slot=\u0022disabled\u0022 href=\u0022https://github.com/H5YR/High5YouRock/issues\u0022 title=\u0022github.com\u0022 type=\u0022external\u0022\u003EGitHub repo\u003C/a\u003E.\u0026nbsp;\u003C/p\u003E"
}]]></Value>
    </bodyText>
    <descriptions>
      <Value><![CDATA[]]></Value>
    </descriptions>
    <pageTitle>
      <Value><![CDATA[Stats]]></Value>
    </pageTitle>
    <script>
      <Value><![CDATA[]]></Value>
    </script>
    <sponsors>
      <Value><![CDATA[]]></Value>
    </sponsors>
    <titles>
      <Value><![CDATA[Community Engagement]]></Value>
    </titles>
  </Properties>
</Content>