/*** BUTTON Styles ***/

.button {
  @include font-size(14);
  display: inline-flex;
  align-items: center;
  padding: 0.5rem 1.25rem;
  border-radius: 0.25rem;
  color: $white;
  background: linear-gradient(180deg, #9D50BB, $purple);
  font-weight: bold;
  text-decoration: none;
  transition: background .2s ease;
  border: 0;
  vertical-align: bottom;
  margin-top: 0.5rem;

  &:hover,
  &:focus {
    background: linear-gradient(180deg, lighten(#9D50BB, 5%), lighten($purple, 5%));

    span {
      text-decoration: underline;
    }
  }

  &.-icon-left {

    .icon {
      margin-right: 1rem;
    }
  }
}

.button-holder {

  &.-margin-top {
    margin-top: 1rem;
  }
}
