<?xml version="1.0" encoding="utf-8"?>
<Content Key="cfeb7907-043c-4440-96a8-5672411e72e5" Alias="Contribute" Level="2">
  <Info>
    <Parent Key="129b4ce1-5570-48b8-9d5e-89281f64988a">Home</Parent>
    <Path>/Home/Contribute</Path>
    <Trashed>false</Trashed>
    <ContentType>page</ContentType>
    <CreateDate>2022-07-08T18:06:20</CreateDate>
    <NodeName Default="Contribute" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1000c71a-f166-4c82-b292-600e493ba1d2">Page</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[<p>dgsds</p>]]></Value>
    </bodyText>
    <pageTitle>
      <Value><![CDATA[Contribute]]></Value>
    </pageTitle>
  </Properties>
</Content>