<?xml version="1.0" encoding="utf-8"?>
<Content Key="129b4ce1-5570-48b8-9d5e-89281f64988a" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2022-06-18T21:09:45</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5d58ca69-249e-434b-87b9-0bc51825d3d3">Home</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[]]></Value>
    </bodyText>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
  </Properties>
</Content>