<?xml version="1.0" encoding="utf-8"?>
<Content Key="0f1bf958-2fc5-4d51-a64d-5b37b0d46d1d" Alias="Shop" Level="2">
  <Info>
    <Parent Key="129b4ce1-5570-48b8-9d5e-89281f64988a">Home</Parent>
    <Path>/Home/Shop</Path>
    <Trashed>false</Trashed>
    <ContentType>page</ContentType>
    <CreateDate>2022-07-20T16:45:36</CreateDate>
    <NodeName Default="Shop" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1000c71a-f166-4c82-b292-600e493ba1d2">Page</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[<p>Welcome to the H5YR web shop - all profit from the sale of H5YR merchandise will be shared back in the #H5YR community.</p>
<p>If you can't see what you are looking for - please contact us and we can see what we can do to help!</p>]]></Value>
    </bodyText>
    <pageTitle>
      <Value><![CDATA[Shop]]></Value>
    </pageTitle>
    <script>
      <Value><![CDATA[<div id="myShop">
    <a href="https://high-5-you-rock.myspreadshop.co.uk">high-5-you-rock</a>
</div>

<script>
    var spread_shop_config = {
        shopName: 'high-5-you-rock',
        locale: 'en_GB',
        prefix: 'https://high-5-you-rock.myspreadshop.co.uk',
        baseId: 'myShop'
    };
</script>

<script type="text/javascript"
        src="https://high-5-you-rock.myspreadshop.co.uk/shopfiles/shopclient/shopclient.nocache.js">
</script>]]></Value>
    </script>
  </Properties>
</Content>