.header {
  padding: 1.25rem 0;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.header__inner {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}