.footer {
  @include font-size(13);
  font-weight: bold;
  min-height: 180px;
  background: $purple;
  color: $white;
  padding: 2rem 0;

  @include media($small) {
    @include font-size(12);
    padding: 1.5rem 0;
  }
}

.footer__inner {
  padding: 2rem 0;

  @include media($small) {
    padding: 1rem 0;
  }
}

.footer__logo {
  display: block;
  margin-bottom: 1rem;
  width: 92px;
  height: 24px;
}

.footer__link {
  color: $white;
  font-weight: bold;
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}